Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

# How to Meet and Retrieve Your Data

Watershed's intern put together a couple of sources of information that will be useful for your project. These three types of information are contained in the capstone database:
1. the current monthly rent Watershed charges for all of their client’s 244 properties, as well as the property type and geographic location of those properties. 
2. some general information about examples of short-term rental properties.  This information can be used to get a sense of what kind of nightly rental price Watershed’s client’s properties *could* be listed for, if they were converted to short-term rentals.
3. records about when those short-term rental properties were rented out, so that you can calculate their occupancy rates.

Your job is to determine how the database is organized so that you can retrieve all of the available information about Watershed’s client’s 244 properties, as well as the corresponding short-term rental information for comparable properties in the same location and of the same type.
1. Start by determining what tables the database contains, and what fields are included in each table.  
2. Then, we recommend that you make at least a rough relational schema of how the database is organized, so that you know what fields you can use to join tables. 
3. Next, make a list of the columns of data you want to retrieve in your final output.  
4. Finally, write your query to retrieve the desired data from the database.

Here are some hints about how to write your query:
* Start by joining no more than two tables.  After you have made sure the query works as written and that the output makes sense, add other tables one at a time, checking the new query and its results each time.
* Your final output should have 244 rows.  Given the limited output, the easiest way to extract the results will be to copy and paste the output from your query into Excel, although you could also extract as a .csv file and open that with Excel.  If you choose the .csv option, you might find it necessary to write your query on multiple lines when you declare it as a variable.  To do this, type a space (if you forget the space the lines will run together) and a "\" at the end of each line of your query:

```
my_data= %sql SELECT DISTINCT user_guid, state, membership_type \
FROM users \
WHERE country="US" AND state IS NOT NULL and membership_type IS NOT NULL \
ORDER BY state ASC, membership_type ASC ;

my_data.csv('my_data.csv')
```

* We recommend that you calculate the occupancy rates of the example short-term rental properties within MySQL, rather than within Excel (it will be much faster!)  To do this, only examine rental dates during 2015, and remember that there are 365 days in the year.  The final output of your calculation should be the percentage of days in 2015 that the property was occupied.  You may want to consider using a subquery for this calculation.
* Make sure that you extract information from short-term rentals <u>**_that have the same location and property type_**</u> as the 244 Watershed properties.
* If you run into trouble, use your workbooks and Teradata notes from “Managing Big Data with MySQL” to remind you how to implement different parts of your query.

<img src="https://duke.box.com/shared/static/svbdzasxe7nncnszps6ewnkr8og4798c.jpg" width="300" alt="SQL Master"/>

## Good luck and have fun!

To get started, connect to the capstone database and set the database as your default database using the following commands:

```python
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/capstone 
%sql USE capstone
```

### Load and connect to the database

In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@localhost/capstone 
%sql USE capstone

 * mysql://studentuser:***@localhost/capstone
0 rows affected.

[]

### Queries

You can add as many "cells" as you need in order to explore the database and extract the appropriate data.  For a reminder about what "cells" are, how to add them, or how to use Jupyter in general, please refer to the "How to Use Jupyter Notebooks" video at: https://www.coursera.org/learn/analytics-mysql/lecture/oxkUg/how-to-use-jupyter-notebooks.

In [2]:
%%sql 
SHOW TABLES;

 * mysql://studentuser:***@localhost/capstone
6 rows affected.

[('location',),
 ('property_type',),
 ('st_property_info',),
 ('st_rental_dates',),
 ('st_rental_prices',),
 ('watershed_property_info',)]

In [10]:
%%sql
SELECT * FROM location limit 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('L1', 'Anchorage', 'AK', 99501),
 ('L10', 'Anchorage', 'AK', 99518),
 ('L100', 'Cherokee', 'AL', 35616),
 ('L1000', 'Azusa', 'CA', 91702),
 ('L10000', 'Winston-Sa', 'NC', 27101)]

In [16]:
%%sql
SELECT * FROM property_type;

 * mysql://studentuser:***@localhost/capstone
16 rows affected.

[('R1', 'apartment', '1', 'Y', 'Y'),
 ('R10', 'house', '1', 'Y', 'N'),
 ('R11', 'house', '1', 'N', 'Y'),
 ('R12', 'house', '1', 'N', 'N'),
 ('R13', 'house', '2', 'Y', 'Y'),
 ('R14', 'house', '2', 'Y', 'N'),
 ('R15', 'house', '2', 'N', 'Y'),
 ('R16', 'house', '2', 'N', 'N'),
 ('R2', 'apartment', '1', 'Y', 'N'),
 ('R3', 'apartment', '1', 'N', 'Y'),
 ('R4', 'apartment', '1', 'N', 'N'),
 ('R5', 'apartment', '2', 'Y', 'Y'),
 ('R6', 'apartment', '2', 'Y', 'N'),
 ('R7', 'apartment', '2', 'N', 'Y'),
 ('R8', 'apartment', '2', 'N', 'N'),
 ('R9', 'house', '1', 'Y', 'Y')]

In [24]:
%%sql
SELECT * FROM st_property_info limit 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('ST1', 'L9531', 'R6'),
 ('ST10', 'L9533', 'R6'),
 ('ST100', 'L1944', 'R2'),
 ('ST1000', 'L5957', 'R1'),
 ('ST101', 'L15257', 'R2')]

In [23]:
%%sql
SELECT * FROM st_rental_dates limit 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[(datetime.date(2014, 1, 31), 'ST100'),
 (datetime.date(2014, 1, 31), 'ST106'),
 (datetime.date(2014, 1, 31), 'ST107'),
 (datetime.date(2014, 1, 31), 'ST109'),
 (datetime.date(2014, 1, 31), 'ST113')]

In [22]:
%%sql
SELECT * FROM st_rental_prices limit 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('L10126', 'R1', 83, 273, 192),
 ('L10126', 'R10', 155, 494, 257),
 ('L10126', 'R11', 82, 411, 242),
 ('L10126', 'R12', 119, 366, 229),
 ('L10126', 'R13', 137, 416, 375)]

In [21]:
%%sql
SELECT * FROM watershed_property_info limit 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'R6', 1060),
 ('W10', 'L9533', 'R6', 1200),
 ('W100', 'L1944', 'R2', 3300),
 ('W101', 'L15257', 'R2', 1400),
 ('W102', 'L15257', 'R6', 2000)]

In [25]:
%%sql
desc location;

 * mysql://studentuser:***@localhost/capstone
4 rows affected.

[('location_id', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('city', 'varchar(255)', 'YES', '', None, ''),
 ('state', 'varchar(255)', 'YES', '', None, ''),
 ('zipcode', 'int(5)', 'YES', '', None, '')]

In [26]:
%%sql
desc property_type;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('property_type_id', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('apt_house', 'varchar(255)', 'YES', '', None, ''),
 ('num_bedrooms', 'varchar(255)', 'YES', '', None, ''),
 ('kitchen', 'varchar(255)', 'YES', '', None, ''),
 ('shared', 'varchar(255)', 'YES', '', None, '')]

In [27]:
%%sql
desc st_property_info;

 * mysql://studentuser:***@localhost/capstone
3 rows affected.

[('st_property_id', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('location', 'varchar(255)', 'YES', '', None, ''),
 ('property_type', 'varchar(255)', 'YES', '', None, '')]

In [28]:
%%sql
desc st_rental_dates;

 * mysql://studentuser:***@localhost/capstone
2 rows affected.

[('rental_date', 'date', 'NO', 'PRI', None, ''),
 ('st_property', 'varchar(255)', 'NO', 'PRI', None, '')]

In [29]:
%%sql
desc st_rental_prices;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('location', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('property_type', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('percentile_10th_price', 'int(11)', 'YES', '', None, ''),
 ('percentile_90th_price', 'int(11)', 'YES', '', None, ''),
 ('sample_nightly_rent_price', 'int(11)', 'YES', '', None, '')]

In [30]:
%%sql
desc watershed_property_info;

 * mysql://studentuser:***@localhost/capstone
4 rows affected.

[('ws_property_id', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('location', 'varchar(255)', 'YES', '', None, ''),
 ('property_type', 'varchar(255)', 'YES', '', None, ''),
 ('current_monthly_rent', 'int(11)', 'NO', '', None, '')]

In [5]:
%%sql
SELECT wpi.ws_property_id, wpi.location, wpi.property_type, wpi.current_monthly_rent, stpi.st_property_id
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'R6', 1060, 'ST1'),
 ('W10', 'L9533', 'R6', 1200, 'ST10'),
 ('W100', 'L1944', 'R2', 3300, 'ST100'),
 ('W101', 'L15257', 'R2', 1400, 'ST101'),
 ('W102', 'L15257', 'R6', 2000, 'ST102')]

In [8]:
%%sql
SELECT wpi.ws_property_id, wpi.location, wpi.property_type, wpi.current_monthly_rent, stpi.st_property_id, strp.sample_nightly_rent_price
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'R6', 1060, 'ST1', 148),
 ('W10', 'L9533', 'R6', 1200, 'ST10', 133),
 ('W100', 'L1944', 'R2', 3300, 'ST100', 372),
 ('W101', 'L15257', 'R2', 1400, 'ST101', 302),
 ('W102', 'L15257', 'R6', 2000, 'ST102', 429)]

In [14]:
%%sql
SELECT wpi.ws_property_id, wpi.location, wpi.property_type, wpi.current_monthly_rent, strp.sample_nightly_rent_price, pt.apt_house,pt.num_bedrooms,pt.kitchen,pt.shared
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
JOIN
property_type pt
ON stpi.property_type=pt.property_type_id
ORDER BY ws_property_id
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'R6', 1060, 148, 'apartment', '2', 'Y', 'N'),
 ('W10', 'L9533', 'R6', 1200, 133, 'apartment', '2', 'Y', 'N'),
 ('W100', 'L1944', 'R2', 3300, 372, 'apartment', '1', 'Y', 'N'),
 ('W101', 'L15257', 'R2', 1400, 302, 'apartment', '1', 'Y', 'N'),
 ('W102', 'L15257', 'R6', 2000, 429, 'apartment', '2', 'Y', 'N')]

In [16]:
%%sql
SELECT wpi.ws_property_id, wpi.location, wpi.property_type, wpi.current_monthly_rent, strp.sample_nightly_rent_price, pt.apt_house,pt.num_bedrooms,pt.kitchen,pt.shared
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
JOIN
property_type pt
ON stpi.property_type=pt.property_type_id
ORDER BY ws_property_id;

 * mysql://studentuser:***@localhost/capstone
244 rows affected.

[('W1', 'L9531', 'R6', 1060, 148, 'apartment', '2', 'Y', 'N'),
 ('W10', 'L9533', 'R6', 1200, 133, 'apartment', '2', 'Y', 'N'),
 ('W100', 'L1944', 'R2', 3300, 372, 'apartment', '1', 'Y', 'N'),
 ('W101', 'L15257', 'R2', 1400, 302, 'apartment', '1', 'Y', 'N'),
 ('W102', 'L15257', 'R6', 2000, 429, 'apartment', '2', 'Y', 'N'),
 ('W103', 'L15257', 'R10', 1600, 380, 'house', '1', 'Y', 'N'),
 ('W104', 'L15257', 'R14', 2800, 374, 'house', '2', 'Y', 'N'),
 ('W105', 'L15260', 'R2', 1100, 386, 'apartment', '1', 'Y', 'N'),
 ('W106', 'L15260', 'R6', 1900, 212, 'apartment', '2', 'Y', 'N'),
 ('W107', 'L15260', 'R10', 1800, 969, 'house', '1', 'Y', 'N'),
 ('W108', 'L15260', 'R14', 3200, 885, 'house', '2', 'Y', 'N'),
 ('W109', 'L15264', 'R2', 1000, 287, 'apartment', '1', 'Y', 'N'),
 ('W11', 'L9533', 'R10', 1000, 206, 'house', '1', 'Y', 'N'),
 ('W110', 'L15264', 'R6', 1300, 462, 'apartment', '2', 'Y', 'N'),
 ('W111', 'L15264', 'R10', 1200, 389, 'house', '1', 'Y', 'N'),
 ('W112', 'L15264', 'R14', 1600, 678, 'house', '2', 'Y', 'N'),
 ('W113', 'L15278', 'R2', 800, 163, 'apartment', '1', 'Y', 'N'),
 ('W114', 'L15278', 'R6', 1200, 374, 'apartment', '2', 'Y', 'N'),
 ('W115', 'L15278', 'R10', 900, 444, 'house', '1', 'Y', 'N'),
 ('W116', 'L15278', 'R14', 1100, 426, 'house', '2', 'Y', 'N'),
 ('W117', 'L15280', 'R2', 1000, 332, 'apartment', '1', 'Y', 'N'),
 ('W118', 'L15280', 'R6', 1400, 430, 'apartment', '2', 'Y', 'N'),
 ('W119', 'L15280', 'R10', 1500, 662, 'house', '1', 'Y', 'N'),
 ('W12', 'L9533', 'R14', 1300, 186, 'house', '2', 'Y', 'N'),
 ('W120', 'L15280', 'R14', 1600, 696, 'house', '2', 'Y', 'N'),
 ('W121', 'L463', 'R2', 600, 182, 'apartment', '1', 'Y', 'N'),
 ('W122', 'L463', 'R6', 800, 241, 'apartment', '2', 'Y', 'N'),
 ('W123', 'L463', 'R10', 700, 363, 'house', '1', 'Y', 'N'),
 ('W124', 'L463', 'R14', 1000, 301, 'house', '2', 'Y', 'N'),
 ('W125', 'L464', 'R2', 700, 212, 'apartment', '1', 'Y', 'N'),
 ('W126', 'L464', 'R6', 900, 340, 'apartment', '2', 'Y', 'N'),
 ('W127', 'L464', 'R10', 1000, 266, 'house', '1', 'Y', 'N'),
 ('W128', 'L464', 'R14', 1200, 442, 'house', '2', 'Y', 'N'),
 ('W129', 'L2314', 'R2', 1200, 354, 'apartment', '1', 'Y', 'N'),
 ('W13', 'L9534', 'R6', 920, 123, 'apartment', '2', 'Y', 'N'),
 ('W130', 'L2314', 'R6', 1300, 377, 'apartment', '2', 'Y', 'N'),
 ('W131', 'L2314', 'R10', 1100, 318, 'house', '1', 'Y', 'N'),
 ('W132', 'L2314', 'R14', 1200, 198, 'house', '2', 'Y', 'N'),
 ('W133', 'L2318', 'R2', 1300, 149, 'apartment', '1', 'Y', 'N'),
 ('W134', 'L2318', 'R6', 1700, 210, 'apartment', '2', 'Y', 'N'),
 ('W135', 'L2318', 'R10', 1200, 187, 'house', '1', 'Y', 'N'),
 ('W136', 'L2318', 'R14', 1900, 225, 'house', '2', 'Y', 'N'),
 ('W137', 'L2323', 'R2', 1000, 123, 'apartment', '1', 'Y', 'N'),
 ('W138', 'L2323', 'R6', 1500, 263, 'apartment', '2', 'Y', 'N'),
 ('W139', 'L2323', 'R10', 1300, 238, 'house', '1', 'Y', 'N'),
 ('W14', 'L9534', 'R10', 850, 146, 'house', '1', 'Y', 'N'),
 ('W140', 'L2323', 'R14', 1800, 349, 'house', '2', 'Y', 'N'),
 ('W141', 'L2325', 'R2', 1100, 147, 'apartment', '1', 'Y', 'N'),
 ('W142', 'L2325', 'R6', 1400, 151, 'apartment', '2', 'Y', 'N'),
 ('W143', 'L2325', 'R10', 1300, 429, 'house', '1', 'Y', 'N'),
 ('W144', 'L2325', 'R14', 1900, 441, 'house', '2', 'Y', 'N'),
 ('W145', 'L2338', 'R2', 900, 144, 'apartment', '1', 'Y', 'N'),
 ('W146', 'L2338', 'R6', 1400, 136, 'apartment', '2', 'Y', 'N'),
 ('W147', 'L2338', 'R10', 1400, 305, 'house', '1', 'Y', 'N'),
 ('W148', 'L2338', 'R14', 1700, 425, 'house', '2', 'Y', 'N'),
 ('W149', 'L3244', 'R2', 800, 176, 'apartment', '1', 'Y', 'N'),
 ('W15', 'L9534', 'R14', 900, 169, 'house', '2', 'Y', 'N'),
 ('W150', 'L3244', 'R6', 1300, 207, 'apartment', '2', 'Y', 'N'),
 ('W151', 'L3244', 'R10', 1400, 244, 'house', '1', 'Y', 'N'),
 ('W152', 'L3244', 'R14', 1900, 536, 'house', '2', 'Y', 'N'),
 ('W153', 'L3256', 'R2', 1700, 476, 'apartment', '1', 'Y', 'N'),
 ('W154', 'L3256', 'R6', 2400, 360, 'apartment', '2', 'Y', 'N'),
 ('W155', 'L3256', 'R10', 2100, 1477, 'house', '1', 'Y', 'N'),
 ('W156', 'L3256', 'R14', 3200, 1265, 'house', '2', 'Y', 'N'),
 ('W157', 'L3261', 'R2', 1300, 328, 'apartment', '1', 'Y', 'N'),
 ('W158', 'L3261', 'R6', 1700, 246, 'apartment', '2', 'Y', 'N'),
 ('W159', 'L3261', 'R10', 1400, 325, 'house', '1', 'Y', 'N'),
 ('W16', 'L9534', 'R2', 750, 94, 'apartment', '1', 'Y', 'N'),
 ('W160', 'L3261', 'R14', 1900, 428, 'house', '2', 'Y', 'N'),
 ('W161', 'L3262', 'R2', 1600, 188, 'apartment', '1', 'Y', 'N'),
 ('W162', 'L3262', 'R6', 2200, 274, 'apartment', '2', 'Y', 'N'),
 ('W163', 'L3262', 'R10', 1500, 860, 'house', '1', 'Y', 'N'),
 ('W164', 'L3262', 'R14', 2400, 729, 'house', '2', 'Y', 'N'),
 ('W165', 'L3264', 'R2', 1600, 174, 'apartment', '1', 'Y', 'N'),
 ('W166', 'L3264', 'R6', 1900, 308, 'apartment', '2', 'Y', 'N'),
 ('W167', 'L3264', 'R10', 1400, 308, 'house', '1', 'Y', 'N'),
 ('W168', 'L3264', 'R14', 2000, 342, 'house', '2', 'Y', 'N'),
 ('W169', 'L10126', 'R2', 1000, 229, 'apartment', '1', 'Y', 'N'),
 ('W17', 'L4761', 'R6', 2500, 392, 'apartment', '2', 'Y', 'N'),
 ('W170', 'L10126', 'R6', 1400, 322, 'apartment', '2', 'Y', 'N'),
 ('W171', 'L10126', 'R10', 1300, 257, 'house', '1', 'Y', 'N'),
 ('W172', 'L10126', 'R14', 1800, 286, 'house', '2', 'Y', 'N'),
 ('W173', 'L10130', 'R2', 700, 180, 'apartment', '1', 'Y', 'N'),
 ('W174', 'L10130', 'R6', 900, 230, 'apartment', '2', 'Y', 'N'),
 ('W175', 'L10130', 'R10', 1000, 221, 'house', '1', 'Y', 'N'),
 ('W176', 'L10130', 'R14', 1200, 316, 'house', '2', 'Y', 'N'),
 ('W177', 'L10133', 'R2', 700, 245, 'apartment', '1', 'Y', 'N'),
 ('W178', 'L10133', 'R6', 1000, 266, 'apartment', '2', 'Y', 'N'),
 ('W179', 'L10133', 'R10', 800, 325, 'house', '1', 'Y', 'N'),
 ('W18', 'L4761', 'R10', 2500, 393, 'house', '1', 'Y', 'N'),
 ('W180', 'L10133', 'R14', 900, 256, 'house', '2', 'Y', 'N'),
 ('W181', 'L10136', 'R2', 700, 184, 'apartment', '1', 'Y', 'N'),
 ('W182', 'L10136', 'R6', 1000, 427, 'apartment', '2', 'Y', 'N'),
 ('W183', 'L10136', 'R10', 900, 418, 'house', '1', 'Y', 'N'),
 ('W184', 'L10136', 'R14', 1200, 219, 'house', '2', 'Y', 'N'),
 ('W185', 'L1882', 'R2', 1100, 220, 'apartment', '1', 'Y', 'N'),
 ('W186', 'L1882', 'R6', 1400, 481, 'apartment', '2', 'Y', 'N'),
 ('W187', 'L1882', 'R10', 1300, 280, 'house', '1', 'Y', 'N'),
 ('W188', 'L1882', 'R14', 1900, 568, 'house', '2', 'Y', 'N'),
 ('W189', 'L1883', 'R2', 900, 318, 'apartment', '1', 'Y', 'N'),
 ('W19', 'L4761', 'R14', 2800, 556, 'house', '2', 'Y', 'N'),
 ('W190', 'L1883', 'R6', 1100, 538, 'apartment', '2', 'Y', 'N'),
 ('W191', 'L1883', 'R10', 1300, 318, 'house', '1', 'Y', 'N'),
 ('W192', 'L1883', 'R14', 1600, 680, 'house', '2', 'Y', 'N'),
 ('W193', 'L1887', 'R2', 1400, 202, 'apartment', '1', 'Y', 'N'),
 ('W194', 'L1887', 'R6', 2000, 579, 'apartment', '2', 'Y', 'N'),
 ('W195', 'L1887', 'R10', 1700, 524, 'house', '1', 'Y', 'N'),
 ('W196', 'L1887', 'R14', 2500, 560, 'house', '2', 'Y', 'N'),
 ('W197', 'L1902', 'R2', 1800, 362, 'apartment', '1', 'Y', 'N'),
 ('W198', 'L1902', 'R6', 2600, 417, 'apartment', '2', 'Y', 'N'),
 ('W199', 'L1902', 'R10', 2500, 474, 'house', '1', 'Y', 'N'),
 ('W2', 'L9531', 'R10', 1500, 146, 'house', '1', 'Y', 'N'),
 ('W20', 'L4761', 'R2', 1700, 312, 'apartment', '1', 'Y', 'N'),
 ('W200', 'L1902', 'R14', 3600, 491, 'house', '2', 'Y', 'N'),
 ('W201', 'L1916', 'R2', 1200, 204, 'apartment', '1', 'Y', 'N'),
 ('W202', 'L1916', 'R6', 1600, 245, 'apartment', '2', 'Y', 'N'),
 ('W203', 'L1916', 'R10', 1000, 197, 'house', '1', 'Y', 'N'),
 ('W204', 'L1916', 'R14', 1500, 195, 'house', '2', 'Y', 'N'),
 ('W205', 'L12252', 'R2', 750, 124, 'apartment', '1', 'Y', 'N'),
 ('W206', 'L12252', 'R6', 1040, 156, 'apartment', '2', 'Y', 'N'),
 ('W207', 'L12252', 'R10', 900, 256, 'house', '1', 'Y', 'N'),
 ('W208', 'L12252', 'R14', 1400, 284, 'house', '2', 'Y', 'N'),
 ('W209', 'L12260', 'R2', 825, 128, 'apartment', '1', 'Y', 'N'),
 ('W21', 'L4765', 'R6', 2700, 337, 'apartment', '2', 'Y', 'N'),
 ('W210', 'L12260', 'R6', 1300, 139, 'apartment', '2', 'Y', 'N'),
 ('W211', 'L12260', 'R10', 1000, 240, 'house', '1', 'Y', 'N'),
 ('W212', 'L12260', 'R14', 1480, 249, 'house', '2', 'Y', 'N'),
 ('W213', 'L12264', 'R2', 650, 107, 'apartment', '1', 'Y', 'N'),
 ('W214', 'L12264', 'R6', 920, 147, 'apartment', '2', 'Y', 'N'),
 ('W215', 'L12264', 'R10', 880, 246, 'house', '1', 'Y', 'N'),
 ('W216', 'L12264', 'R14', 1200, 169, 'house', '2', 'Y', 'N'),
 ('W217', 'L16888', 'R2', 1000, 174, 'apartment', '1', 'Y', 'N'),
 ('W218', 'L16888', 'R6', 1200, 203, 'apartment', '2', 'Y', 'N'),
 ('W219', 'L16888', 'R10', 1400, 240, 'house', '1', 'Y', 'N'),
 ('W22', 'L4765', 'R10', 2700, 389, 'house', '1', 'Y', 'N'),
 ('W220', 'L16888', 'R14', 1600, 312, 'house', '2', 'Y', 'N'),
 ('W221', 'L16887', 'R2', 1105, 111, 'apartment', '1', 'Y', 'N'),
 ('W222', 'L16887', 'R6', 1665, 169, 'apartment', '2', 'Y', 'N'),
 ('W223', 'L16887', 'R10', 1175, 201, 'house', '1', 'Y', 'N'),
 ('W224', 'L16887', 'R14', 1725, 242, 'house', '2', 'Y', 'N'),
 ('W225', 'L16898', 'R2', 709, 158, 'apartment', '1', 'Y', 'N'),
 ('W226', 'L16898', 'R6', 869, 246, 'apartment', '2', 'Y', 'N'),
 ('W227', 'L16898', 'R10', 925, 207, 'house', '1', 'Y', 'N'),
 ('W228', 'L16898', 'R14', 1350, 224, 'house', '2', 'Y', 'N'),
 ('W229', 'L16890', 'R2', 900, 139, 'apartment', '1', 'Y', 'N'),
 ('W23', 'L4765', 'R14', 3200, 325, 'house', '2', 'Y', 'N'),
 ('W230', 'L16890', 'R6', 1325, 283, 'apartment', '2', 'Y', 'N'),
 ('W231', 'L16890', 'R10', 975, 192, 'house', '1', 'Y', 'N'),
 ('W232', 'L16890', 'R14', 1550, 307, 'house', '2', 'Y', 'N'),
 ('W233', 'L14416', 'R2', 1165, 180, 'apartment', '1', 'Y', 'N'),
 ('W234', 'L14416', 'R6', 1625, 260, 'apartment', '2', 'Y', 'N'),
 ('W235', 'L14416', 'R10', 1400, 232, 'house', '1', 'Y', 'N'),
 ('W236', 'L14416', 'R14', 1995, 292, 'house', '2', 'Y', 'N'),
 ('W237', 'L14418', 'R2', 760, 169, 'apartment', '1', 'Y', 'N'),
 ('W238', 'L14418', 'R6', 965, 189, 'apartment', '2', 'Y', 'N'),
 ('W239', 'L14418', 'R10', 1185, 289, 'house', '1', 'Y', 'N'),
 ('W24', 'L4765', 'R2', 1700, 239, 'apartment', '1', 'Y', 'N'),
 ('W240', 'L14418', 'R14', 1340, 278, 'house', '2', 'Y', 'N'),
 ('W241', 'L14419', 'R2', 1150, 183, 'apartment', '1', 'Y', 'N'),
 ('W242', 'L14419', 'R6', 2000, 237, 'apartment', '2', 'Y', 'N'),
 ('W243', 'L14419', 'R10', 1600, 297, 'house', '1', 'Y', 'N'),
 ('W244', 'L14419', 'R14', 2150, 360, 'house', '2', 'Y', 'N'),
 ('W25', 'L4770', 'R2', 1600, 209, 'apartment', '1', 'Y', 'N'),
 ('W26', 'L4770', 'R6', 2100, 265, 'apartment', '2', 'Y', 'N'),
 ('W27', 'L4770', 'R10', 1200, 435, 'house', '1', 'Y', 'N'),
 ('W28', 'L4770', 'R14', 2100, 487, 'house', '2', 'Y', 'N'),
 ('W29', 'L4794', 'R6', 2500, 231, 'apartment', '2', 'Y', 'N'),
 ('W3', 'L9531', 'R14', 2000, 199, 'house', '2', 'Y', 'N'),
 ('W30', 'L4794', 'R10', 2500, 490, 'house', '1', 'Y', 'N'),
 ('W31', 'L4794', 'R14', 2750, 538, 'house', '2', 'Y', 'N'),
 ('W32', 'L4794', 'R2', 1800, 288, 'apartment', '1', 'Y', 'N'),
 ('W33', 'L4804', 'R6', 3000, 415, 'apartment', '2', 'Y', 'N'),
 ('W34', 'L4804', 'R10', 2000, 387, 'house', '1', 'Y', 'N'),
 ('W35', 'L4804', 'R14', 2950, 575, 'house', '2', 'Y', 'N'),
 ('W36', 'L4804', 'R2', 1700, 228, 'apartment', '1', 'Y', 'N'),
 ('W37', 'L11419', 'R2', 3000, 337, 'apartment', '1', 'Y', 'N'),
 ('W38', 'L11419', 'R6', 3200, 154, 'apartment', '2', 'Y', 'N'),
 ('W39', 'L11421', 'R6', 4500, 432, 'apartment', '2', 'Y', 'N'),
 ('W4', 'L9531', 'R2', 800, 104, 'apartment', '1', 'Y', 'N'),
 ('W40', 'L11421', 'R10', 4500, 200, 'house', '1', 'Y', 'N'),
 ('W41', 'L11421', 'R14', 5500, 428, 'house', '2', 'Y', 'N'),
 ('W42', 'L11421', 'R2', 3500, 576, 'apartment', '1', 'Y', 'N'),
 ('W43', 'L11427', 'R6', 4000, 560, 'apartment', '2', 'Y', 'N'),
 ('W44', 'L11427', 'R2', 3000, 288, 'apartment', '1', 'Y', 'N'),
 ('W45', 'L11431', 'R6', 5600, 373, 'apartment', '2', 'Y', 'N'),
 ('W46', 'L11431', 'R10', 3200, 420, 'house', '1', 'Y', 'N'),
 ('W47', 'L11431', 'R14', 3500, 593, 'house', '2', 'Y', 'N'),
 ('W48', 'L11431', 'R2', 3400, 436, 'apartment', '1', 'Y', 'N'),
 ('W49', 'L11434', 'R6', 4200, 426, 'apartment', '2', 'Y', 'N'),
 ('W5', 'L9532', 'R6', 1100, 142, 'apartment', '2', 'Y', 'N'),
 ('W50', 'L11434', 'R10', 3000, 621, 'house', '1', 'Y', 'N'),
 ('W51', 'L11434', 'R14', 3900, 535, 'house', '2', 'Y', 'N'),
 ('W52', 'L11434', 'R2', 3600, 196, 'apartment', '1', 'Y', 'N'),
 ('W53', 'L11480', 'R6', 3500, 294, 'apartment', '2', 'Y', 'N'),
 ('W54', 'L11480', 'R10', 2500, 471, 'house', '1', 'Y', 'N'),
 ('W55', 'L11480', 'R14', 3000, 620, 'house', '2', 'Y', 'N'),
 ('W56', 'L11480', 'R2', 3000, 235, 'apartment', '1', 'Y', 'N'),
 ('W57', 'L11495', 'R6', 3900, 284, 'apartment', '2', 'Y', 'N'),
 ('W58', 'L11495', 'R10', 2800, 355, 'house', '1', 'Y', 'N'),
 ('W59', 'L11495', 'R14', 3500, 436, 'house', '2', 'Y', 'N'),
 ('W6', 'L9532', 'R10', 900, 141, 'house', '1', 'Y', 'N'),
 ('W60', 'L11495', 'R2', 2600, 250, 'apartment', '1', 'Y', 'N'),
 ('W61', 'L1734', 'R6', 2695, 443, 'apartment', '2', 'Y', 'N'),
 ('W62', 'L1734', 'R10', 3000, 343, 'house', '1', 'Y', 'N'),
 ('W63', 'L1734', 'R14', 4000, 739, 'house', '2', 'Y', 'N'),
 ('W64', 'L1734', 'R2', 2295, 270, 'apartment', '1', 'Y', 'N'),
 ('W65', 'L1735', 'R6', 3000, 424, 'apartment', '2', 'Y', 'N'),
 ('W66', 'L1735', 'R10', 3300, 980, 'house', '1', 'Y', 'N'),
 ('W67', 'L1735', 'R14', 4500, 994, 'house', '2', 'Y', 'N'),
 ('W68', 'L1735', 'R2', 2700, 284, 'apartment', '1', 'Y', 'N'),
 ('W69', 'L1736', 'R2', 2700, 236, 'apartment', '1', 'Y', 'N'),
 ('W7', 'L9532', 'R14', 1100, 188, 'house', '2', 'Y', 'N'),
 ('W70', 'L1736', 'R6', 3000, 329, 'apartment', '2', 'Y', 'N'),
 ('W71', 'L1736', 'R10', 4500, 549, 'house', '1', 'Y', 'N'),
 ('W72', 'L1736', 'R14', 4900, 652, 'house', '2', 'Y', 'N'),
 ('W73', 'L1737', 'R6', 3300, 378, 'apartment', '2', 'Y', 'N'),
 ('W74', 'L1737', 'R10', 4500, 255, 'house', '1', 'Y', 'N'),
 ('W75', 'L1737', 'R14', 4200, 441, 'house', '2', 'Y', 'N'),
 ('W76', 'L1737', 'R2', 2500, 356, 'apartment', '1', 'Y', 'N'),
 ('W77', 'L1738', 'R2', 2500, 437, 'apartment', '1', 'Y', 'N'),
 ('W78', 'L1738', 'R6', 3300, 461, 'apartment', '2', 'Y', 'N'),
 ('W79', 'L1738', 'R10', 4500, 669, 'house', '1', 'Y', 'N'),
 ('W8', 'L9532', 'R2', 500, 121, 'apartment', '1', 'Y', 'N'),
 ('W80', 'L1738', 'R14', 4200, 437, 'house', '2', 'Y', 'N'),
 ('W81', 'L1940', 'R6', 3600, 663, 'apartment', '2', 'Y', 'N'),
 ('W82', 'L1940', 'R10', 4000, 337, 'house', '1', 'Y', 'N'),
 ('W83', 'L1940', 'R14', 5500, 447, 'house', '2', 'Y', 'N'),
 ('W84', 'L1940', 'R2', 3000, 610, 'apartment', '1', 'Y', 'N'),
 ('W85', 'L1941', 'R6', 4000, 302, 'apartment', '2', 'Y', 'N'),
 ('W86', 'L1941', 'R10', 4000, 213, 'house', '1', 'Y', 'N'),
 ('W87', 'L1941', 'R14', 5000, 364, 'house', '2', 'Y', 'N'),
 ('W88', 'L1941', 'R2', 3200, 251, 'apartment', '1', 'Y', 'N'),
 ('W89', 'L1942', 'R6', 3500, 343, 'apartment', '2', 'Y', 'N'),
 ('W9', 'L9533', 'R2', 965, 125, 'apartment', '1', 'Y', 'N'),
 ('W90', 'L1942', 'R10', 3200, 251, 'house', '1', 'Y', 'N'),
 ('W91', 'L1942', 'R14', 3500, 404, 'house', '2', 'Y', 'N'),
 ('W92', 'L1942', 'R2', 3000, 161, 'apartment', '1', 'Y', 'N'),
 ('W93', 'L1943', 'R2', 2600, 408, 'apartment', '1', 'Y', 'N'),
 ('W94', 'L1943', 'R6', 4000, 284, 'apartment', '2', 'Y', 'N'),
 ('W95', 'L1943', 'R10', 4000, 443, 'house', '1', 'Y', 'N'),
 ('W96', 'L1943', 'R14', 5100, 718, 'house', '2', 'Y', 'N'),
 ('W97', 'L1944', 'R6', 5600, 478, 'apartment', '2', 'Y', 'N'),
 ('W98', 'L1944', 'R10', 5000, 533, 'house', '1', 'Y', 'N'),
 ('W99', 'L1944', 'R14', 6000, 566, 'house', '2', 'Y', 'N')]

In [20]:
%%sql
SELECT loc.location_id,loc.city,loc.state,loc.zipcode,strp.location, strp.sample_nightly_rent_price 
from location loc
JOIN
st_rental_prices strp
ON
strp.location = loc.location_id
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('L10126', 'Omaha', 'NE', 68046, 'L10126', 192),
 ('L10126', 'Omaha', 'NE', 68046, 'L10126', 257),
 ('L10126', 'Omaha', 'NE', 68046, 'L10126', 242),
 ('L10126', 'Omaha', 'NE', 68046, 'L10126', 229),
 ('L10126', 'Omaha', 'NE', 68046, 'L10126', 375)]

In [3]:
%%sql
SELECT * from st_rental_dates
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[(datetime.date(2014, 1, 31), 'ST100'),
 (datetime.date(2014, 1, 31), 'ST106'),
 (datetime.date(2014, 1, 31), 'ST107'),
 (datetime.date(2014, 1, 31), 'ST109'),
 (datetime.date(2014, 1, 31), 'ST113')]

In [8]:
%%sql
DESC st_rental_dates;

 * mysql://studentuser:***@localhost/capstone
2 rows affected.

[('rental_date', 'date', 'NO', 'PRI', None, ''),
 ('st_property', 'varchar(255)', 'NO', 'PRI', None, '')]

In [17]:
%%sql
SELECT * from st_rental_dates
WHERE rental_date >= '2015-01-01'
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[(datetime.date(2015, 1, 1), 'ST1'),
 (datetime.date(2015, 1, 1), 'ST1000'),
 (datetime.date(2015, 1, 1), 'ST105'),
 (datetime.date(2015, 1, 1), 'ST106'),
 (datetime.date(2015, 1, 1), 'ST108')]

In [20]:
%%sql
SELECT wpi.ws_property_id, loc.location_id, loc.city, loc.state, loc.zipcode, pt.apt_house, pt.num_bedrooms, pt.kitchen, pt.shared, wpi.current_monthly_rent, strp.percentile_10th_price, strp.percentile_90th_price, strd.rental_date
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
JOIN
property_type pt
ON stpi.property_type=pt.property_type_id
JOIN
location loc
ON strp.location=loc.location_id
JOIN
st_rental_dates strd
ON
stpi.st_property_id=strd.st_property
WHERE strd.rental_date > '2015-01-01'
ORDER BY ws_property_id
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 6)),
 ('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 7)),
 ('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 14)),
 ('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 23)),
 ('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 28))]

In [22]:
%%sql
SELECT wpi.ws_property_id, loc.location_id, loc.city, loc.state, loc.zipcode, pt.apt_house, pt.num_bedrooms, pt.kitchen, pt.shared, wpi.current_monthly_rent, strp.percentile_10th_price, strp.percentile_90th_price, strd.rental_date
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
JOIN
property_type pt
ON stpi.property_type=pt.property_type_id
JOIN
location loc
ON strp.location=loc.location_id
JOIN
st_rental_dates strd
ON
stpi.st_property_id=strd.st_property
WHERE strd.rental_date > '2015-01-01'
ORDER BY ws_property_id
LIMIT 1;

 * mysql://studentuser:***@localhost/capstone
1 rows affected.

[('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, datetime.date(2015, 1, 6))]

In [27]:
%%sql
SELECT wpi.ws_property_id, stpi.location, stpi.property_type, strd.rental_date, 
FROM watershed_property_info wpi
LEFT JOIN
st_property_info stpi
ON wpi.location=stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_dates strd 
ON stpi.st_property_id=strd.st_property
WHERE strd.rental_date >= '2015-01-01'
LIMIT 5;

 * mysql://studentuser:***@localhost/capstone
5 rows affected.

[('W1', 'L9531', 'R6', datetime.date(2015, 1, 1)),
 ('W105', 'L15260', 'R2', datetime.date(2015, 1, 1)),
 ('W106', 'L15260', 'R6', datetime.date(2015, 1, 1)),
 ('W108', 'L15260', 'R14', datetime.date(2015, 1, 1)),
 ('W112', 'L15264', 'R14', datetime.date(2015, 1, 1))]

Capstone_data=%sql 
SELECT DISTINCT w.ws_property_id,w.location, w.property_type,w.current_monthly_rent,srp.percentile_10th_price,srp.percentile_90th_price,srp.sample_nightly_rent_price,srd.rental_date,srd.st_property, COUNT(srd.rental_date)/365 AS occupancy_rate,p.apt_house,p.num_bedrooms,p.kitchen,p.shared,l.city,l.state,l.zipcode 
FROM watershed_property_info w 
JOIN st_property_info spi 
ON (w.location=spi.location AND w.property_type=spi.property_type) 
JOIN st_rental_prices srp 
ON (spi.location=srp.location AND spi.property_type=srp.property_type) 
JOIN property_type p 
ON w.property_type=p.property_type_id 
JOIN location l 
ON w.location=l.location_id 
JOIN st_rental_dates srd 
ON spi.st_property_id = srd.st_property 
WHERE YEAR(srd.rental_date)=2015 GROUP BY srd.st_property

In [29]:
%%sql
SELECT DISTINCT wpi.ws_property_id, loc.location_id, loc.city, loc.state, loc.zipcode, pt.apt_house, pt.num_bedrooms, pt.kitchen, pt.shared, wpi.current_monthly_rent, strp.percentile_10th_price, strp.percentile_90th_price, strp.sample_nightly_rent_price, strd.rental_date, strd.st_property, COUNT(strd.rental_date)/365 AS occupancy_rate
FROM watershed_property_info wpi
JOIN 
st_property_info stpi
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type
JOIN
st_rental_prices strp
ON stpi.location=strp.location and stpi.property_type=strp.property_type
JOIN
property_type pt
ON stpi.property_type=pt.property_type_id
JOIN
location loc
ON strp.location=loc.location_id
JOIN
st_rental_dates strd
ON
stpi.st_property_id=strd.st_property
WHERE YEAR(strd.rental_date)=2015
GROUP BY strd.st_property;

 * mysql://studentuser:***@localhost/capstone
244 rows affected.

[('W1', 'L9531', 'Chapel Hill', 'NC', 27514, 'apartment', '2', 'Y', 'N', 1060, 114, 153, 148, datetime.date(2015, 1, 1), 'ST1', Decimal('0.1616')),
 ('W10', 'L9533', 'Chapel Hill', 'NC', 27517, 'apartment', '2', 'Y', 'N', 1200, 111, 149, 133, datetime.date(2015, 1, 5), 'ST10', Decimal('0.3479')),
 ('W100', 'L1944', 'San Francisco', 'CA', 94129, 'apartment', '1', 'Y', 'N', 3300, 108, 610, 372, datetime.date(2015, 1, 7), 'ST100', Decimal('0.3973')),
 ('W101', 'L15257', 'Austin', 'TX', 78702, 'apartment', '1', 'Y', 'N', 1400, 178, 533, 302, datetime.date(2015, 1, 2), 'ST101', Decimal('0.3644')),
 ('W102', 'L15257', 'Austin', 'TX', 78702, 'apartment', '2', 'Y', 'N', 2000, 221, 617, 429, datetime.date(2015, 1, 4), 'ST102', Decimal('0.4110')),
 ('W103', 'L15257', 'Austin', 'TX', 78702, 'house', '1', 'Y', 'N', 1600, 202, 646, 380, datetime.date(2015, 1, 4), 'ST103', Decimal('0.4110')),
 ('W104', 'L15257', 'Austin', 'TX', 78702, 'house', '2', 'Y', 'N', 2800, 197, 639, 374, datetime.date(2015, 1, 3), 'ST104', Decimal('0.5260')),
 ('W105', 'L15260', 'Austin', 'TX', 78705, 'apartment', '1', 'Y', 'N', 1100, 114, 477, 386, datetime.date(2015, 1, 1), 'ST105', Decimal('0.4329')),
 ('W106', 'L15260', 'Austin', 'TX', 78705, 'apartment', '2', 'Y', 'N', 1900, 80, 583, 212, datetime.date(2015, 1, 1), 'ST106', Decimal('0.6959')),
 ('W107', 'L15260', 'Austin', 'TX', 78705, 'house', '1', 'Y', 'N', 1800, 239, 1431, 969, datetime.date(2015, 1, 4), 'ST107', Decimal('0.1096')),
 ('W108', 'L15260', 'Austin', 'TX', 78705, 'house', '2', 'Y', 'N', 3200, 236, 1533, 885, datetime.date(2015, 1, 1), 'ST108', Decimal('0.2247')),
 ('W109', 'L15264', 'Austin', 'TX', 78723, 'apartment', '1', 'Y', 'N', 1000, 138, 550, 287, datetime.date(2015, 1, 7), 'ST109', Decimal('0.2192')),
 ('W11', 'L9533', 'Chapel Hill', 'NC', 27517, 'house', '1', 'Y', 'N', 1000, 116, 296, 206, datetime.date(2015, 1, 2), 'ST11', Decimal('0.3918')),
 ('W110', 'L15264', 'Austin', 'TX', 78723, 'apartment', '2', 'Y', 'N', 1300, 175, 917, 462, datetime.date(2015, 1, 3), 'ST110', Decimal('0.5370')),
 ('W111', 'L15264', 'Austin', 'TX', 78723, 'house', '1', 'Y', 'N', 1200, 130, 821, 389, datetime.date(2015, 1, 2), 'ST111', Decimal('0.5123')),
 ('W112', 'L15264', 'Austin', 'TX', 78723, 'house', '2', 'Y', 'N', 1600, 241, 866, 678, datetime.date(2015, 1, 1), 'ST112', Decimal('0.3616')),
 ('W113', 'L15278', 'Austin', 'TX', 78744, 'apartment', '1', 'Y', 'N', 800, 134, 288, 163, datetime.date(2015, 1, 1), 'ST113', Decimal('0.8438')),
 ('W114', 'L15278', 'Austin', 'TX', 78744, 'apartment', '2', 'Y', 'N', 1200, 234, 794, 374, datetime.date(2015, 1, 3), 'ST114', Decimal('0.9151')),
 ('W115', 'L15278', 'Austin', 'TX', 78744, 'house', '1', 'Y', 'N', 900, 252, 547, 444, datetime.date(2015, 1, 1), 'ST115', Decimal('0.4301')),
 ('W116', 'L15278', 'Austin', 'TX', 78744, 'house', '2', 'Y', 'N', 1100, 246, 616, 426, datetime.date(2015, 1, 3), 'ST116', Decimal('0.4822')),
 ('W117', 'L15280', 'Austin', 'TX', 78746, 'apartment', '1', 'Y', 'N', 1000, 171, 457, 332, datetime.date(2015, 1, 1), 'ST117', Decimal('0.4904')),
 ('W118', 'L15280', 'Austin', 'TX', 78746, 'apartment', '2', 'Y', 'N', 1400, 262, 567, 430, datetime.date(2015, 1, 1), 'ST118', Decimal('0.5233')),
 ('W119', 'L15280', 'Austin', 'TX', 78746, 'house', '1', 'Y', 'N', 1500, 229, 859, 662, datetime.date(2015, 1, 4), 'ST119', Decimal('0.4493')),
 ('W12', 'L9533', 'Chapel Hill', 'NC', 27517, 'house', '2', 'Y', 'N', 1300, 136, 336, 186, datetime.date(2015, 1, 1), 'ST12', Decimal('0.6603')),
 ('W120', 'L15280', 'Austin', 'TX', 78746, 'house', '2', 'Y', 'N', 1600, 449, 899, 696, datetime.date(2015, 1, 2), 'ST120', Decimal('0.4877')),
 ('W121', 'L463', 'Bentonville', 'AR', 72712, 'apartment', '1', 'Y', 'N', 600, 132, 226, 182, datetime.date(2015, 1, 2), 'ST121', Decimal('0.4384')),
 ('W122', 'L463', 'Bentonville', 'AR', 72712, 'apartment', '2', 'Y', 'N', 800, 157, 340, 241, datetime.date(2015, 1, 1), 'ST122', Decimal('0.5315')),
 ('W123', 'L463', 'Bentonville', 'AR', 72712, 'house', '1', 'Y', 'N', 700, 215, 377, 363, datetime.date(2015, 1, 3), 'ST123', Decimal('0.1397')),
 ('W124', 'L463', 'Bentonville', 'AR', 72712, 'house', '2', 'Y', 'N', 1000, 202, 374, 301, datetime.date(2015, 1, 3), 'ST124', Decimal('0.4685')),
 ('W125', 'L464', 'Bentonville', 'AR', 72719, 'apartment', '1', 'Y', 'N', 700, 94, 356, 212, datetime.date(2015, 1, 1), 'ST125', Decimal('0.5014')),
 ('W126', 'L464', 'Bentonville', 'AR', 72719, 'apartment', '2', 'Y', 'N', 900, 69, 485, 340, datetime.date(2015, 1, 1), 'ST126', Decimal('0.3068')),
 ('W127', 'L464', 'Bentonville', 'AR', 72719, 'house', '1', 'Y', 'N', 1000, 84, 376, 266, datetime.date(2015, 1, 1), 'ST127', Decimal('0.5205')),
 ('W128', 'L464', 'Bentonville', 'AR', 72719, 'house', '2', 'Y', 'N', 1200, 109, 490, 442, datetime.date(2015, 1, 2), 'ST128', Decimal('0.1288')),
 ('W129', 'L2314', 'Denver', 'CO', 80204, 'apartment', '1', 'Y', 'N', 1200, 145, 434, 354, datetime.date(2015, 1, 5), 'ST129', Decimal('0.2411')),
 ('W13', 'L9534', 'Chapel Hill', 'NC', 27707, 'apartment', '2', 'Y', 'N', 920, 111, 147, 123, datetime.date(2015, 1, 1), 'ST13', Decimal('0.4521')),
 ('W130', 'L2314', 'Denver', 'CO', 80204, 'apartment', '2', 'Y', 'N', 1300, 228, 457, 377, datetime.date(2015, 1, 1), 'ST130', Decimal('0.4795')),
 ('W131', 'L2314', 'Denver', 'CO', 80204, 'house', '1', 'Y', 'N', 1100, 90, 375, 318, datetime.date(2015, 1, 10), 'ST131', Decimal('0.2712')),
 ('W132', 'L2314', 'Denver', 'CO', 80204, 'house', '2', 'Y', 'N', 1200, 128, 238, 198, datetime.date(2015, 1, 4), 'ST132', Decimal('0.4301')),
 ('W133', 'L2318', 'Denver', 'CO', 80209, 'apartment', '1', 'Y', 'N', 1300, 126, 188, 149, datetime.date(2015, 1, 1), 'ST133', Decimal('0.5671')),
 ('W134', 'L2318', 'Denver', 'CO', 80209, 'apartment', '2', 'Y', 'N', 1700, 152, 247, 210, datetime.date(2015, 1, 4), 'ST134', Decimal('0.3205')),
 ('W135', 'L2318', 'Denver', 'CO', 80209, 'house', '1', 'Y', 'N', 1200, 141, 263, 187, datetime.date(2015, 1, 3), 'ST135', Decimal('0.4493')),
 ('W136', 'L2318', 'Denver', 'CO', 80209, 'house', '2', 'Y', 'N', 1900, 157, 314, 225, datetime.date(2015, 1, 1), 'ST136', Decimal('0.5096')),
 ('W137', 'L2323', 'Denver', 'CO', 80218, 'apartment', '1', 'Y', 'N', 1000, 93, 159, 123, datetime.date(2015, 1, 2), 'ST137', Decimal('0.7205')),
 ('W138', 'L2323', 'Denver', 'CO', 80218, 'apartment', '2', 'Y', 'N', 1500, 145, 462, 263, datetime.date(2015, 1, 1), 'ST138', Decimal('0.4959')),
 ('W139', 'L2323', 'Denver', 'CO', 80218, 'house', '1', 'Y', 'N', 1300, 181, 316, 238, datetime.date(2015, 1, 2), 'ST139', Decimal('0.4493')),
 ('W14', 'L9534', 'Chapel Hill', 'NC', 27707, 'house', '1', 'Y', 'N', 850, 96, 245, 146, datetime.date(2015, 1, 1), 'ST14', Decimal('0.5315')),
 ('W140', 'L2323', 'Denver', 'CO', 80218, 'house', '2', 'Y', 'N', 1800, 145, 412, 349, datetime.date(2015, 1, 6), 'ST140', Decimal('0.1507')),
 ('W141', 'L2325', 'Denver', 'CO', 80220, 'apartment', '1', 'Y', 'N', 1100, 99, 215, 147, datetime.date(2015, 1, 1), 'ST141', Decimal('0.6000')),
 ('W142', 'L2325', 'Denver', 'CO', 80220, 'apartment', '2', 'Y', 'N', 1400, 120, 188, 151, datetime.date(2015, 1, 1), 'ST142', Decimal('0.5260')),
 ('W143', 'L2325', 'Denver', 'CO', 80220, 'house', '1', 'Y', 'N', 1300, 263, 489, 429, datetime.date(2015, 1, 13), 'ST143', Decimal('0.2110')),
 ('W144', 'L2325', 'Denver', 'CO', 80220, 'house', '2', 'Y', 'N', 1900, 335, 502, 441, datetime.date(2015, 1, 4), 'ST144', Decimal('0.3315')),
 ('W145', 'L2338', 'Denver', 'CO', 80249, 'apartment', '1', 'Y', 'N', 900, 98, 195, 144, datetime.date(2015, 1, 8), 'ST145', Decimal('0.3288')),
 ('W146', 'L2338', 'Denver', 'CO', 80249, 'apartment', '2', 'Y', 'N', 1400, 77, 260, 136, datetime.date(2015, 1, 1), 'ST146', Decimal('0.6192')),
 ('W147', 'L2338', 'Denver', 'CO', 80249, 'house', '1', 'Y', 'N', 1400, 173, 322, 305, datetime.date(2015, 1, 9), 'ST147', Decimal('0.2712')),
 ('W148', 'L2338', 'Denver', 'CO', 80249, 'house', '2', 'Y', 'N', 1700, 176, 469, 425, datetime.date(2015, 1, 1), 'ST148', Decimal('0.3288')),
 ('W149', 'L3244', 'Miami', 'FL', 33122, 'apartment', '1', 'Y', 'N', 800, 86, 224, 176, datetime.date(2015, 1, 1), 'ST149', Decimal('0.4137')),
 ('W15', 'L9534', 'Chapel Hill', 'NC', 27707, 'house', '2', 'Y', 'N', 900, 111, 276, 169, datetime.date(2015, 1, 3), 'ST15', Decimal('0.4795')),
 ('W150', 'L3244', 'Miami', 'FL', 33122, 'apartment', '2', 'Y', 'N', 1300, 127, 276, 207, datetime.date(2015, 1, 2), 'ST150', Decimal('0.6301')),
 ('W151', 'L3244', 'Miami', 'FL', 33122, 'house', '1', 'Y', 'N', 1400, 222, 381, 244, datetime.date(2015, 1, 1), 'ST151', Decimal('0.9041')),
 ('W152', 'L3244', 'Miami', 'FL', 33122, 'house', '2', 'Y', 'N', 1900, 386, 773, 536, datetime.date(2015, 1, 2), 'ST152', Decimal('0.5425')),
 ('W153', 'L3256', 'Miami', 'FL', 33137, 'apartment', '1', 'Y', 'N', 1700, 136, 476, 476, datetime.date(2015, 1, 1), 'ST153', Decimal('0.0795')),
 ('W154', 'L3256', 'Miami', 'FL', 33137, 'apartment', '2', 'Y', 'N', 2400, 173, 690, 360, datetime.date(2015, 1, 1), 'ST154', Decimal('0.5507')),
 ('W155', 'L3256', 'Miami', 'FL', 33137, 'house', '1', 'Y', 'N', 2100, 448, 2128, 1477, datetime.date(2015, 1, 1), 'ST155', Decimal('0.6932')),
 ('W156', 'L3256', 'Miami', 'FL', 33137, 'house', '2', 'Y', 'N', 3200, 450, 2699, 1265, datetime.date(2015, 1, 2), 'ST156', Decimal('0.7151')),
 ('W157', 'L3261', 'Miami', 'FL', 33146, 'apartment', '1', 'Y', 'N', 1300, 291, 387, 328, datetime.date(2015, 1, 4), 'ST157', Decimal('0.5205')),
 ('W158', 'L3261', 'Miami', 'FL', 33146, 'apartment', '2', 'Y', 'N', 1700, 203, 318, 246, datetime.date(2015, 1, 2), 'ST158', Decimal('0.1589')),
 ('W159', 'L3261', 'Miami', 'FL', 33146, 'house', '1', 'Y', 'N', 1400, 287, 395, 325, datetime.date(2015, 1, 1), 'ST159', Decimal('0.5452')),
 ('W16', 'L9534', 'Chapel Hill', 'NC', 27707, 'apartment', '1', 'Y', 'N', 750, 51, 179, 94, datetime.date(2015, 1, 2), 'ST16', Decimal('0.4795')),
 ('W160', 'L3261', 'Miami', 'FL', 33146, 'house', '2', 'Y', 'N', 1900, 376, 502, 428, datetime.date(2015, 1, 1), 'ST160', Decimal('0.5863')),
 ('W161', 'L3262', 'Miami', 'FL', 33149, 'apartment', '1', 'Y', 'N', 1600, 126, 352, 188, datetime.date(2015, 1, 2), 'ST161', Decimal('0.6795')),
 ('W162', 'L3262', 'Miami', 'FL', 33149, 'apartment', '2', 'Y', 'N', 2200, 119, 505, 274, datetime.date(2015, 1, 2), 'ST162', Decimal('0.5781')),
 ('W163', 'L3262', 'Miami', 'FL', 33149, 'house', '1', 'Y', 'N', 1500, 486, 1215, 860, datetime.date(2015, 1, 2), 'ST163', Decimal('0.4110')),
 ('W164', 'L3262', 'Miami', 'FL', 33149, 'house', '2', 'Y', 'N', 2400, 516, 1650, 729, datetime.date(2015, 1, 1), 'ST164', Decimal('0.6822')),
 ('W165', 'L3264', 'Miami', 'FL', 33178, 'apartment', '1', 'Y', 'N', 1600, 160, 321, 174, datetime.date(2015, 1, 1), 'ST165', Decimal('0.8247')),
 ('W166', 'L3264', 'Miami', 'FL', 33178, 'apartment', '2', 'Y', 'N', 1900, 168, 364, 308, datetime.date(2015, 1, 2), 'ST166', Decimal('0.2164')),
 ('W167', 'L3264', 'Miami', 'FL', 33178, 'house', '1', 'Y', 'N', 1400, 226, 368, 308, datetime.date(2015, 1, 1), 'ST167', Decimal('0.6000')),
 ('W168', 'L3264', 'Miami', 'FL', 33178, 'house', '2', 'Y', 'N', 2000, 285, 428, 342, datetime.date(2015, 1, 1), 'ST168', Decimal('0.3918')),
 ('W169', 'L10126', 'Omaha', 'NE', 68046, 'apartment', '1', 'Y', 'N', 1000, 91, 342, 229, datetime.date(2015, 1, 1), 'ST169', Decimal('0.5890')),
 ('W17', 'L4761', 'Chicago', 'IL', 60607, 'apartment', '2', 'Y', 'N', 2500, 173, 581, 392, datetime.date(2015, 1, 1), 'ST17', Decimal('0.2932')),
 ('W170', 'L10126', 'Omaha', 'NE', 68046, 'apartment', '2', 'Y', 'N', 1400, 168, 392, 322, datetime.date(2015, 1, 2), 'ST170', Decimal('0.2712')),
 ('W171', 'L10126', 'Omaha', 'NE', 68046, 'house', '1', 'Y', 'N', 1300, 155, 494, 257, datetime.date(2015, 1, 1), 'ST171', Decimal('0.5507')),
 ('W172', 'L10126', 'Omaha', 'NE', 68046, 'house', '2', 'Y', 'N', 1800, 151, 391, 286, datetime.date(2015, 1, 3), 'ST172', Decimal('0.4521')),
 ('W173', 'L10130', 'Omaha', 'NE', 68106, 'apartment', '1', 'Y', 'N', 700, 99, 265, 180, datetime.date(2015, 1, 4), 'ST173', Decimal('0.5178')),
 ('W174', 'L10130', 'Omaha', 'NE', 68106, 'apartment', '2', 'Y', 'N', 900, 154, 286, 230, datetime.date(2015, 1, 1), 'ST174', Decimal('0.5205')),
 ('W175', 'L10130', 'Omaha', 'NE', 68106, 'house', '1', 'Y', 'N', 1000, 190, 462, 221, datetime.date(2015, 1, 1), 'ST175', Decimal('0.6301')),
 ('W176', 'L10130', 'Omaha', 'NE', 68106, 'house', '2', 'Y', 'N', 1200, 205, 411, 316, datetime.date(2015, 1, 5), 'ST176', Decimal('0.3699')),
 ('W177', 'L10133', 'Omaha', 'NE', 68110, 'apartment', '1', 'Y', 'N', 700, 192, 313, 245, datetime.date(2015, 1, 1), 'ST177', Decimal('0.5699')),
 ('W178', 'L10133', 'Omaha', 'NE', 68110, 'apartment', '2', 'Y', 'N', 1000, 192, 357, 266, datetime.date(2015, 1, 1), 'ST178', Decimal('0.4192')),
 ('W179', 'L10133', 'Omaha', 'NE', 68110, 'house', '1', 'Y', 'N', 800, 186, 465, 325, datetime.date(2015, 1, 1), 'ST179', Decimal('0.4548')),
 ('W18', 'L4761', 'Chicago', 'IL', 60607, 'house', '1', 'Y', 'N', 2500, 189, 588, 393, datetime.date(2015, 1, 2), 'ST18', Decimal('0.6219')),
 ('W180', 'L10133', 'Omaha', 'NE', 68110, 'house', '2', 'Y', 'N', 900, 209, 358, 256, datetime.date(2015, 1, 1), 'ST180', Decimal('0.7096')),
 ('W181', 'L10136', 'Omaha', 'NE', 68114, 'apartment', '1', 'Y', 'N', 700, 42, 252, 184, datetime.date(2015, 1, 1), 'ST181', Decimal('0.3096')),
 ('W182', 'L10136', 'Omaha', 'NE', 68114, 'apartment', '2', 'Y', 'N', 1000, 94, 531, 427, datetime.date(2015, 1, 8), 'ST182', Decimal('0.2411')),
 ('W183', 'L10136', 'Omaha', 'NE', 68114, 'house', '1', 'Y', 'N', 900, 86, 488, 418, datetime.date(2015, 1, 11), 'ST183', Decimal('0.0466')),
 ('W184', 'L10136', 'Omaha', 'NE', 68114, 'house', '2', 'Y', 'N', 1200, 83, 556, 219, datetime.date(2015, 1, 1), 'ST184', Decimal('0.6356')),
 ('W185', 'L1882', 'San Diego', 'CA', 91910, 'apartment', '1', 'Y', 'N', 1100, 84, 301, 220, datetime.date(2015, 1, 1), 'ST185', Decimal('0.4301')),
 ('W186', 'L1882', 'San Diego', 'CA', 91910, 'apartment', '2', 'Y', 'N', 1400, 134, 568, 481, datetime.date(2015, 1, 3), 'ST186', Decimal('0.3808')),
 ('W187', 'L1882', 'San Diego', 'CA', 91910, 'house', '1', 'Y', 'N', 1300, 109, 615, 280, datetime.date(2015, 1, 1), 'ST187', Decimal('0.4575')),
 ('W19', 'L4761', 'Chicago', 'IL', 60607, 'house', '2', 'Y', 'N', 2800, 191, 826, 556, datetime.date(2015, 1, 3), 'ST19', Decimal('0.2986')),
 ('W191', 'L1883', 'San Diego', 'CA', 91950, 'house', '1', 'Y', 'N', 1300, 157, 471, 318, datetime.date(2015, 1, 2), 'ST191', Decimal('0.3918')),
 ('W192', 'L1883', 'San Diego', 'CA', 91950, 'house', '2', 'Y', 'N', 1600, 253, 886, 680, datetime.date(2015, 1, 13), 'ST192', Decimal('0.3863')),
 ('W193', 'L1887', 'San Diego', 'CA', 92102, 'apartment', '1', 'Y', 'N', 1400, 76, 342, 202, datetime.date(2015, 1, 1), 'ST193', Decimal('0.4877')),
 ('W194', 'L1887', 'San Diego', 'CA', 92102, 'apartment', '2', 'Y', 'N', 2000, 107, 781, 579, datetime.date(2015, 1, 2), 'ST194', Decimal('0.4110')),
 ('W195', 'L1887', 'San Diego', 'CA', 92102, 'house', '1', 'Y', 'N', 1700, 162, 614, 524, datetime.date(2015, 1, 1), 'ST195', Decimal('0.5041')),
 ('W196', 'L1887', 'San Diego', 'CA', 92102, 'house', '2', 'Y', 'N', 2500, 158, 906, 560, datetime.date(2015, 1, 2), 'ST196', Decimal('0.2767')),
 ('W197', 'L1902', 'San Diego', 'CA', 92118, 'apartment', '1', 'Y', 'N', 1800, 199, 432, 362, datetime.date(2015, 1, 1), 'ST197', Decimal('0.3288')),
 ('W198', 'L1902', 'San Diego', 'CA', 92118, 'apartment', '2', 'Y', 'N', 2600, 366, 594, 417, datetime.date(2015, 1, 1), 'ST198', Decimal('0.5315')),
 ('W199', 'L1902', 'San Diego', 'CA', 92118, 'house', '1', 'Y', 'N', 2500, 333, 665, 474, datetime.date(2015, 1, 3), 'ST199', Decimal('0.4274')),
 ('W2', 'L9531', 'Chapel Hill', 'NC', 27514, 'house', '1', 'Y', 'N', 1500, 81, 205, 146, datetime.date(2015, 1, 1), 'ST2', Decimal('0.2411')),
 ('W20', 'L4761', 'Chicago', 'IL', 60607, 'apartment', '1', 'Y', 'N', 1700, 106, 465, 312, datetime.date(2015, 1, 2), 'ST20', Decimal('0.4110')),
 ('W200', 'L1902', 'San Diego', 'CA', 92118, 'house', '2', 'Y', 'N', 3600, 336, 624, 491, datetime.date(2015, 1, 5), 'ST200', Decimal('0.3973')),
 ('W201', 'L1916', 'San Diego', 'CA', 92154, 'apartment', '1', 'Y', 'N', 1200, 173, 395, 204, datetime.date(2015, 1, 2), 'ST201', Decimal('0.7973')),
 ('W202', 'L1916', 'San Diego', 'CA', 92154, 'apartment', '2', 'Y', 'N', 1600, 228, 456, 245, datetime.date(2015, 1, 1), 'ST202', Decimal('0.6877')),
 ('W203', 'L1916', 'San Diego', 'CA', 92154, 'house', '1', 'Y', 'N', 1000, 155, 252, 197, datetime.date(2015, 1, 1), 'ST203', Decimal('0.5890')),
 ('W204', 'L1916', 'San Diego', 'CA', 92154, 'house', '2', 'Y', 'N', 1500, 158, 236, 195, datetime.date(2015, 1, 1), 'ST204', Decimal('0.6192')),
 ('W205', 'L12252', 'Columbus', 'OH', 43201, 'apartment', '1', 'Y', 'N', 750, 89, 155, 124, datetime.date(2015, 1, 1), 'ST205', Decimal('0.4548')),
 ('W206', 'L12252', 'Columbus', 'OH', 43201, 'apartment', '2', 'Y', 'N', 1040, 115, 179, 156, datetime.date(2015, 1, 2), 'ST206', Decimal('0.4877')),
 ('W207', 'L12252', 'Columbus', 'OH', 43201, 'house', '1', 'Y', 'N', 900, 152, 300, 256, datetime.date(2015, 1, 4), 'ST207', Decimal('0.4795')),
 ('W208', 'L12252', 'Columbus', 'OH', 43201, 'house', '2', 'Y', 'N', 1400, 175, 368, 284, datetime.date(2015, 1, 1), 'ST208', Decimal('0.4932')),
 ('W209', 'L12260', 'Columbus', 'OH', 43212, 'apartment', '1', 'Y', 'N', 825, 77, 161, 128, datetime.date(2015, 1, 11), 'ST209', Decimal('0.3616')),
 ('W21', 'L4765', 'Chicago', 'IL', 60611, 'apartment', '2', 'Y', 'N', 2700, 157, 526, 337, datetime.date(2015, 1, 1), 'ST21', Decimal('0.4219')),
 ('W210', 'L12260', 'Columbus', 'OH', 43212, 'apartment', '2', 'Y', 'N', 1300, 125, 170, 139, datetime.date(2015, 1, 2), 'ST210', Decimal('0.7425')),
 ('W211', 'L12260', 'Columbus', 'OH', 43212, 'house', '1', 'Y', 'N', 1000, 140, 288, 240, datetime.date(2015, 1, 2), 'ST211', Decimal('0.3699')),
 ('W218', 'L16888', 'Richmond', 'VA', 23113, 'apartment', '2', 'Y', 'N', 1200, 125, 277, 203, datetime.date(2015, 1, 6), 'ST218', Decimal('0.2712')),
 ('W219', 'L16888', 'Richmond', 'VA', 23113, 'house', '1', 'Y', 'N', 1400, 209, 384, 240, datetime.date(2015, 1, 1), 'ST219', Decimal('0.7616')),
 ('W220', 'L16888', 'Richmond', 'VA', 23113, 'house', '2', 'Y', 'N', 1600, 220, 418, 312, datetime.date(2015, 1, 1), 'ST220', Decimal('0.6082')),
 ('W221', 'L16887', 'Richmond', 'VA', 23060, 'apartment', '1', 'Y', 'N', 1105, 82, 235, 111, datetime.date(2015, 1, 1), 'ST221', Decimal('0.6110')),
 ('W222', 'L16887', 'Richmond', 'VA', 23060, 'apartment', '2', 'Y', 'N', 1665, 130, 200, 169, datetime.date(2015, 1, 3), 'ST222', Decimal('0.3068')),
 ('W223', 'L16887', 'Richmond', 'VA', 23060, 'house', '1', 'Y', 'N', 1175, 106, 267, 201, datetime.date(2015, 1, 1), 'ST223', Decimal('0.5233')),
 ('W224', 'L16887', 'Richmond', 'VA', 23060, 'house', '2', 'Y', 'N', 1725, 195, 305, 242, datetime.date(2015, 1, 1), 'ST224', Decimal('0.4822')),
 ('W225', 'L16898', 'Richmond', 'VA', 23234, 'apartment', '1', 'Y', 'N', 709, 86, 192, 158, datetime.date(2015, 1, 1), 'ST225', Decimal('0.2219')),
 ('W226', 'L16898', 'Richmond', 'VA', 23234, 'apartment', '2', 'Y', 'N', 869, 135, 305, 246, datetime.date(2015, 1, 2), 'ST226', Decimal('0.3890')),
 ('W227', 'L16898', 'Richmond', 'VA', 23234, 'house', '1', 'Y', 'N', 925, 125, 288, 207, datetime.date(2015, 1, 2), 'ST227', Decimal('0.4164')),
 ('W228', 'L16898', 'Richmond', 'VA', 23234, 'house', '2', 'Y', 'N', 1350, 119, 360, 224, datetime.date(2015, 1, 4), 'ST228', Decimal('0.4849')),
 ('W229', 'L16890', 'Richmond', 'VA', 23220, 'apartment', '1', 'Y', 'N', 900, 89, 177, 139, datetime.date(2015, 1, 1), 'ST229', Decimal('0.5507')),
 ('W230', 'L16890', 'Richmond', 'VA', 23220, 'apartment', '2', 'Y', 'N', 1325, 161, 319, 283, datetime.date(2015, 1, 1), 'ST230', Decimal('0.2932')),
 ('W231', 'L16890', 'Richmond', 'VA', 23220, 'house', '1', 'Y', 'N', 975, 145, 300, 192, datetime.date(2015, 1, 1), 'ST231', Decimal('0.5014')),

In [37]:
final_output= %sql \
SELECT DISTINCT wpi.ws_property_id, loc.location_id, wpi.property_type, loc.city, loc.state, loc.zipcode, pt.apt_house, pt.num_bedrooms, pt.kitchen, pt.shared, wpi.current_monthly_rent, strp.percentile_10th_price, strp.percentile_90th_price, strp.sample_nightly_rent_price, strd.rental_date, strd.st_property, COUNT(strd.rental_date)/365 AS occupancy_rate \
FROM watershed_property_info wpi\
JOIN \
st_property_info stpi \
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type \
JOIN \
st_rental_prices strp \
ON stpi.location=strp.location and stpi.property_type=strp.property_type \
JOIN \
property_type pt \
ON stpi.property_type=pt.property_type_id \
JOIN \
location loc \
ON strp.location=loc.location_id \
JOIN \
st_rental_dates strd \
ON \
stpi.st_property_id=strd.st_property \
WHERE YEAR(strd.rental_date)=2015 \
GROUP BY strd.st_property; 

final_output.csv('final_output.csv')

 * mysql://studentuser:***@localhost/capstone
244 rows affected.

CSV results at /home/jovyan/work/final_output.csv

In [38]:
Watershed_database= %sql \
SELECT DISTINCT wpi.ws_property_id, loc.location_id, wpi.property_type, loc.city, loc.state, loc.zipcode, pt.apt_house, pt.num_bedrooms, pt.kitchen, pt.shared, wpi.current_monthly_rent, strp.percentile_10th_price, strp.percentile_90th_price, strp.sample_nightly_rent_price, strd.rental_date, strd.st_property, COUNT(strd.rental_date)/365 AS occupancy_rate \
FROM watershed_property_info wpi\
JOIN \
st_property_info stpi \
ON wpi.location = stpi.location and wpi.property_type=stpi.property_type \
JOIN \
st_rental_prices strp \
ON stpi.location=strp.location and stpi.property_type=strp.property_type \
JOIN \
property_type pt \
ON stpi.property_type=pt.property_type_id \
JOIN \
location loc \
ON strp.location=loc.location_id \
JOIN \
st_rental_dates strd \
ON \
stpi.st_property_id=strd.st_property \
WHERE YEAR(strd.rental_date)=2015 \
GROUP BY strd.st_property; 

Watershed_database.csv('Watershed_database.csv')

 * mysql://studentuser:***@localhost/capstone
244 rows affected.

CSV results at /home/jovyan/work/Watershed_database.csv